body {
    margin: 0;
    color: #1f0812;
}

.grid {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.child-width-expand > * {
	width: 100%
}

section{
    /*height: 1000px;*/
    width: 100%;
}

div {
    box-sizing: border-box;
}

.grid-1 {
	flex-direction: row;
    width:100%;
    flex-wrap: nowrap;
}

.grid-2 {
    width: 900px;
}

.grid-3 {
    width: 100%;
    flex-wrap: nowrap;
}

.grid-4 {
    flex-direction: column;
    width: 600px;
}


.item {
    padding: 10px;
    text-align: center;
}


.item-1 {
    background-color: #f3b3a6 ;
    width: 100%;
}

.item-2 {
    background-color: #b98b82;
    padding: 0;
}

.item-3 {
    background-color: #e4959e;
    padding: 0;
}

.item-4 {
    background-color: #37515f;
    width: 300px;
}

.item-5 {
    background-color: #cec2ff;
    width: 100%;
}

.item-6 {
    background-color: #1f0812;
    width: 100%;
    color:aliceblue;
}

.item-7 {
    background-color: #b3b3f1;
    width: 100%;
}

.item-8 {
    background-color: #b15e6c;
}

.item-2,
.item-3,
.item-5,
.item-6 {
    flex-grow: 1;
}
.item-7 img{
    width: 40%;
}
.item-4 img{
    width: 100%;
}
.item-5 img{
    width: 80%;
}
.item-6 img{
    width: 80%;
}
hr{
    background-color: #1f0812;
    height: 2px;
    margin-left: 40px;
    margin-right: 40px;
    border: none;
}
h2{
    font-family: Geneva;
    font-style: italic;
    font-size: 30px;
}
h3{
    font-style: italic;
}
p{
    text-align: justify;
}